#notice-container {
  width: 100%;
  height: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  background-color: #def4ed;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header-container {
  width: 1280px;
}

header {
  padding: 24px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.line {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 1px;
  border: none;
  background-color: #e0e0e0;
}

#header-field1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 64px;
}

#header-field2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}

#nav-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

#nav-container li {
  padding: 10px 18px;
  list-style: none;
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  border-radius: 100px;
}

#nav-highlight {
  color: #007c65 !important;
  font-weight: 500 !important;
  background-color: #def4ed;
}

#loginbtn {
  padding: 10px 16px;
  color: white;
  border: none;
  border-radius: 4px;
  background-color: #0e9880;
}

#carousel-track {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.carousel-img {
  width: 610px;
  height: 260px;
  border-radius: 8px;
}

#info-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#carousel-btn-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.carousel-btn {
  margin: 0;
  padding: 8px 14px;
  border: none;
  border-radius: 100px;
  background-color: #f0f0f0;
}

#info-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#info-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.info-btn {
  margin: 0;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.info-btn-ico {
  width: 24px;
  padding: 3px;
  border: solid 1px #f0f0f0;
  border-radius: 8px;
  background-color: white;
}

.info-btn-txt {
  margin: 0;
  margin-right: 8px;
  padding: 0;
  font-size: 18px;
}