footer {
  padding: 60px 120px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: white;
}

footer p {
  cursor: default;
  margin: 4px 0;
  color: #838383;
  font-size: 14px;
  font-weight: 300;
}

#footer-txt {
  font-size: 12px;
}