main {
  margin-top: 24px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-container {
  width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#main-field1 {
  width: 414px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#main-field2 {
  width: 830px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  gap: 16px;
}

/* 아이콘 */
.music-ico {
  padding: 6px;
  border: solid 1px #f0f0f0;
  border-radius: 8px;
}

.music-ico svg {
  display: block;
  fill: #0e9880;
}

/* 타이틀 */
.container-title {
  align-self: baseline;
  margin: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-title p {
  margin: 0;
  margin-left: 12px;
}

/* 바로가기 */
.music-goto-container {
  margin: 4px;
  margin-top: 16px;
  display: grid;
  grid-template-columns: 186px 186px;
  justify-content: space-between;
  gap: 8px;
}

.music-goto {
  transition: 0.2s;
  padding: 14px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.music-goto:hover {
  transition: 0.2s;
  cursor: pointer;
  background-color: #f0f0f0;
}

.music-goto p {
  margin: 0;
  margin-left: 8px;
  color: #646464;
  font-size: 14px;
}

/* 버튼 */
.music-btn {
  transition: 0.2s;
  cursor: pointer;
  padding: 6px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid 1px #e0e0e0;
  border-radius: 100px;
  background-color: white;
}

.music-btn:hover {
  transition: 0.2s;
  background-color: #f0f0f0;
}

/* 컨테이너 */
.music-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  border-radius: 6px;
  background-color: white;
}

.field2-mini-container {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  display: flex;
  gap: 12px;
}

.no-data {
  margin: 12px;
  margin-left: 0;
  color: #646464;
  font-size: 14px;
  font-weight: 300;
}

/* song selector */
#song-selector-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#music {
  position: relative;
}

#song-selector-cover {
  z-index: 5;
  margin: 4px;
  margin-bottom: 0;
  position: relative;
  border-radius: 6px;
}

#song-selector-record {
  z-index: 4;
  position: absolute;
  top: 8px;
  left: 30px;
}

/* music title */
#music-title {
  margin-left: 30px;
}

#music-title h1 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

#music-title p {
  margin: 0;
  margin-top: 2px;
  color: #646464;
  font-size: 14px;
}

/* music play */
#music-play {
  display: block;
  margin: 4px;
  margin-top: 12px;
  border-radius: 6px;
}

#music-play-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.music-play-info {
  margin: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.music-play-info p {
  margin: 0;
  color: #646464;
  font-size: 12px;
  font-weight: 500;
}

.music-play-info h1 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.music-play-info-line {
  margin: 0;
  display: inline-block;
  width: 1px;
  height: 44px;
  border: none;
  background-color: #e0e0e0;
}

/* 이세돌 프로필 */
.isegye-profile-pic {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #e0e0e0;
  border-radius: 100px;
}

/* 멜론의전당 */
#melon-award {
  grid-column: span 2;
  gap: 16px;
  border: solid 1px #f0f0f0;
}

#award-value {
  position: absolute;
  font-size: 18px;
  left: 20px;
}

#award-sum {
  margin: 0;
  color: #007c65;
}

#award-processbar {
  width: 100%;
  height: 8px;
  margin-top: 12px;
  border-radius: 2px;
  background: linear-gradient(
    to right,           /* 왼쪽 → 오른쪽 */
    #4fb59e 0%,         /* 어두움 시작 */
    #8bd0be 50%,        /* 중앙 밝음 */
    #4fb59e 100%        /* 다시 어두움 */
  );
}

/* 멜론차트 성적 */
#chart-score {
  grid-column: span 2;
}

.score-graph {
  width: 100%;
  height: 90px;
  border-radius: 6px;
  background: linear-gradient(to bottom, #ffffff00, #effbf5);
}

/* 실시간 차트인 현황 */
#live-chartin {
  grid-column: span 2;
}